# Arquivos de sistema
.git
.github
.gitignore
.vscode
.DS_Store

# Diretórios de dependências
**/node_modules
**/dist
**/build

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Arquivos de ambiente
**/.env.local
**/.env.development
**/.env.test

# Outros diretórios do projeto que não frontend
backend/
docs/
scripts/

# Mas não ignorar o diretório frontend que precisamos
!frontend/ 